body {
  margin: 0;
  padding: 0;
  background-image: url("./components/images/cityskyline.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 100vh;
}

.toast {
  font-size: 24px;
  font-weight: 700;
}

h1 {
  font-size: 60px;
  margin-top: -2px;
  margin-bottom: -12px;
  color: rgb(213, 233, 38);
}

.score {
  display: flex;
  justify-content: center;
}

.score h2 {
  display: flex;
  flex-direction: column;
  margin-left: 125px;
  margin-right: 125px;
  color: rgb(255, 255, 255);
  font-size: 50px;
}

span {
  font-size: 60px;
}

.images {
  display: flex;
  justify-content: space-evenly;
  height: 150px;
  align-items: flex-end;
}

img {
  height: 150px;
  width: 150px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.65;
}

.images img:hover {
  border: 3px solid #fff;
  opacity: 0.8;
  transition: 0.2s;
}

button {
  font-size: 30px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 60px;
  border-radius: 10px;
  cursor: pointer;
  text-transform: capitalize;
}

button:hover {
  background-color: rgb(243, 245, 228);
  border: 2px solid #fff;
  opacity: 0.8;
  transition: 0.2s;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 65px;
    color: rgb(213, 233, 38);
  }

  .score {
    padding: 4px;
  }
  .score h2 {
    margin: 0;
    font-size: 45px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
  }

  .images {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 350px;
    align-items: center;
  }
  img {
    height: 100px;
    width: 100px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    margin-top: 10px;
  }

  button {
    font-size: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-transform: capitalize;
  }
}
